body{
  width: 960px;
  margin: 0 auto;
  background-color: #7cbb5e
}
aside{
  height: 500px;
  width: 25%;
  float: left;
  background-color: #a8de64
}
header{
  background: #dad14f;
}
section{
  width: 75%;
  margin-left: 25%;
 
}
footer{
  width: 100%;
  clear: both;
  background-color: #ccde8f;
 
}
#phone{
  width: 20%;
}
#main{
  width: 40%;
  padding: 10%;
  margin-left: 40%;
}
p{font-size: 20px;}